<div id="workExperiencePage">
    
    <div id="CumminsLogo" class="Logo">
        <%= image_tag("CumminsLogo.png", class: "logoImg") %>
    </div>

    <div id="CumminsInfo" class="workInfo">
        <table>
            <tr>
                <td><b>COMPANY: </b></td>
                <td>Cummins Allison</td>
            </tr>
            <tr>
                <td><b>LOCATION: </b></td>
                <td>Bensalem, PA</td>
            </tr>
            <tr>
                <td><b>POSITION: </b></td>
                <td>Engineering Intern</td>
            </tr>
            <tr>
                <td><b>DATE: </b></td>
                <td>Fall 2018</td>
            </tr>
            <tr>
                <td><b>ROLE: </b></td>
                <td>
                    <ul>
                        <li>Helped further the development of a new currency machine.</li>
                        <li>Performed data analysis on machines to allow for engineers to make more educated decisions.</li>
                        <li>Assembled portions of prototype machines.</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div id="GlatfelterLogo" class="Logo">
        <%= image_tag("GlatfelterLogo.png", class: "logoImg") %>
    </div>

    <div id="GlatfelterInfo" class="workInfo">
        <table>
            <tr>
                <td><b>COMPANY: </b></td>
                <td>Glatfelter</td>
            </tr>
            <tr>
                <td><b>LOCATION: </b></td>
                <td>Spring Grove, PA</td>
            </tr>
            <tr>
                <td><b>POSITION: </b></td>
                <td>Engineering Intern</td>
            </tr>
            <tr>
                <td><b>DATE: </b></td>
                <td>Spring 2017</td>
            </tr>
            <tr>
                <td><b>ROLE: </b></td>
                <td>
                    <ul>
                        <li>Assisted project managers throughout every stage of development of a project.</li>
                        <li>Responded to technicians’ calls of broken equipment.</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div id="VectronLogo" class="Logo">
        <%= image_tag("VectronLogo.png", class: "logoImg") %>
    </div>

    <div id="VectronInfo" class="workInfo">
        <table>
            <tr>
                <td><b>COMPANY: </b></td>
                <td>Vectron International</td>
            </tr>
            <tr>
                <td><b>LOCATION: </b></td>
                <td>Mount Holly Springs, PA</td>
            </tr>
            <tr>
                <td><b>POSITION: </b></td>
                <td>Electrical Engineering Intern</td>
            </tr>
            <tr>
                <td><b>DATE: </b></td>
                <td>Summer 2016</td>
            </tr>
            <tr>
                <td><b>ROLE: </b></td>
                <td>
                    <ul>
                        <li>Aided in the testing, correcting, and developing of a new oven controlled crystal oscillator integrated circuit.</li>
                        <li>Enhanced and developed real world engineering skills.</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div id="MainlandLogo" class="Logo">
        <%= image_tag("MainlandLogo.png", class: "logoImg") %>
    </div>

    <div id="MainlandInfo" class="workInfo">
        <table>
            <tr>
                <td><b>COMPANY: </b></td>
                <td>Mainland Golf Course</td>
            </tr>
            <tr>
                <td><b>LOCATION: </b></td>
                <td>Harleysville, PA</td>
            </tr>
            <tr>
                <td><b>POSITION: </b></td>
                <td>Pro Shop Asistant</td>
            </tr>
            <tr>
                <td><b>DATE: </b></td>
                <td>Summer 2015</td>
            </tr>
            <tr>
                <td><b>ROLE: </b></td>
                <td>
                    <ul>
                        <li>Efficiently operated the shop and was responsible for closing and securing the course.</li>
                        <li>Provided excellent customer service while scheduling tee time requests and handling conflicts.</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

</div>