<div id="contactPage">
    <div id="gmail">
        <a href="mailto:joemaier2@gmail.com"><%= image_tag("gmailLogo.png", class: "gmailLogo") %></a>
        <h1>joemaier2@gmail.com</h1>
    </div>

    <div id="linkedin">
        <a href="https://www.linkedin.com/in/joseph-maier-3b70a0109"><%= image_tag("linkedinLogo.png", class: "linkedinLogo") %></a>
    </div>
</div>