// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gmail {
    //margin-left: 35vw;
    margin-top: 5%;
    text-align: center;
}

#linkedin {
    text-align: center;
    margin-top: 5%;
}

.gmailLogo {
    width: 20vw;
}

.linkedinLogo {
    width: 20vw;
}