// Place all the styles related to the Resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resumeImg {
     width: 75vw;
    margin-left: 15%;
}

@media only screen and (max-width: 768px) {
    .resumeImg {
        margin-left: 20%;
    }
}