<div id="infoPage">
    <div id="profDetails">
        <h1>PROFESSIONAL DETAILS</h1>
        <%= image_tag("profPic.png", class: "profDetailsImg") %>
        <table>
            <tr>
                <td><b>NAME:</b></td>
                <td>Joe Maier</td>
            </tr>
            <tr>
                <td><b>AGE:</b></td>
                <td>22 Years</td>
            </tr>
            <tr>
                <td><b>LOCATION:</b></td>
                <td>Southeastern PA</td>
            </tr>
            <tr>
                <td><b>EXPERIENCE:</b></td>
                <td>1 Year</td>
            </tr>
            <tr>
                <td><b>DEGREE:</b></td>
                <td>BS</td>
            </tr>
        </table>
    </div>

    <div id="aboutMeTitle">
        <h1>ABOUT ME</h1>
    </div>

    <div id="aboutMeInfo">
        <table>
            <tr>
                <td><b>NAME</b></td>
                <td>Joe Maier</td>
                <td><b>AGE</b></td>
                <td>22 Years</td>
            </tr>
            <tr>
                <td><b>LOCATION</b></td>
                <td>Southeastern PA</td>
                <td><b>EXPERIENCE</b></td>
                <td>1 Year</td>
            </tr>
            <tr>
                <td><b>DEGREE</b></td>
                <td>Electrical Engineering, BS</td>
                <td><b>CAREER LEVEL</b></td>
                <td>Entry Level</td>
            </tr>
            <tr>
                <td><b>PHONE</b></td>
                <td>(267)421-8499</td>
                <td><b>E-MAIL</b></td>
                <td>joemaier2@gmail.com</td>
            </tr>
            <tr>
                <td><b>WEBSITE</b></td>
                <td>josephmaier.com</td>
                <td><b>COLLEGE</b></td>
                <td>York College of PA</td>
            </tr>
        </table>
    </div>

    <!--<div id="personalInfoTitle">
        <h1>PERSONAL INSIGHTS</h1>
    </div>-->

    <!--<div id="personalInfo">
        <table>
            <tr>
                <td>
                    <%= image_tag("Frisbee_16by9.png", class: "personalInfoImg") %>
                </td>
                <td>
                    <p>At my college I spent multiple years captaining and coaching ultimate frisbee teams on and off from when I was a freshman until I was a senior. This included creating a more competitive USA Ultimate sanctioned team at my college that would go on to compete against the largest schools my College had ever seen. </p>
                </td>
            </tr>
            <tr>
                <td>
                    <%= image_tag("Fishing_16by9.png", class: "personalInfoImg") %>
                </td>
                <td>
                    <p>Outside of school and work I taught myself how to fly fish. I especially enjoy fishing small streams in moutain ranges miles away from any towns.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <%= image_tag("Bailey_16by9.png", class: "personalInfoImg") %>
                </td>
                <td>
                    <p>I also have a two year old chocolate lab named Bailey who enjoys going fishing with me.</p>
                </td>
            </tr>
        </table>
    </div>-->
</div>